<img src="{{ m.snapshot }}" alt="snapshot">
<div class="info">
  <a href="{{ m.url }}" target="_blank">{{ m.title }}</a>
  <p>{{ m.comment }}</p>
  <dl>
    <dt>Game</dt>
    <dd>{{ m.game }}</dd>

    <dt>Viewers</dt>
    <dd>{{ m.viewers }}</dd>
  </dl>
</div>
