<img src="{{ m.snapshot }}" alt="snapshot">
<div class="info">
  <h3>{{ m.title }}</h3>
  <p>{{ m.comment }}</p>
  <dl>
    <dt>Game</dt>
    <dd>{{ m.game }}</dd>
    
    <dt>Viewers</dt>
    <dd>{{ m.viewers }}</dd>
  </dl>
</div>
